%h1{class: 'text-center'}= "WEIGH-IN #{@event.name}"
%h2{class: 'text-center'}= @event.tagline
%div{class: 'table-container'}
  %table{border: 0, class: 'table table-condensed borderless'}
    %tr
      %th{class: 'ordinal'}
      %th{class: 'text-left person-name'} NAME
      %th{:'data-field' => 'up_by', :'data-sortable' => 'true', class: 'text-right weight'} UP BY
    - previous_up_by = 0
    - current_rank = 1
    - @ranked_people.each_with_index do |person, index|
      - up_by = person.up_by
      - positive = up_by.to_d > 0 ? 'positive' : 'negative'
      - current_rank = index + 1 if up_by.to_d != previous_up_by.to_d
      - previous_up_by = up_by
      %tr
        %td{class: 'ordinal'}= current_rank
        %td{class: 'person-name'}= link_to(person.name.upcase, event_person_path(@event, person))
        %td{class: "#{positive} text-right weight"}= "#{up_by.round(3)} #{person.percentage_change.round(2)}"
    - @unranked_people.each do |person|
      %tr
        %td
        %td{class: 'person-name'}= link_to(person.name.upcase, event_person_path(@event, person))
        %td

%br
%br
%br
%br
%br
= link_to('OTHER EVENTS', events_path)
= link_to('CHECK IN', new_event_checkin_path(@event), class: 'btn btn-default btn-block navbar navbar-fixed-bottom button-link') unless ENV['QUIET_MODE']